* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    overflow-x: hidden;
}

.fullpage {
    width: 100%;
    height: 100%;
}


/* header section */

header {
    /* border: 1px solid black; */
    width: 100%;
    height: 10vh;
    background-color: white;
    box-sizing: border-box;
}

.aafiyaheader {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aafiyaheaderlogo {
    /* border: 1px solid black; */
    width: 20%;
    height: 100%;
}

.aafiyaheaderlogo img {
    width: 100%;
    height: 100%;
}

.aafiyaheaderimage {
    /* border: 1px solid black; */
    width: 5%;
    height: 100%;
}

.aafiyaheaderimage img {
    width: 100%;
    height: 100%;
}

.aafiyaheaderconsultation {
    /* border: 1px solid black; */
    width: 20%;
    height: 100%;
    display: flex;
    cursor: pointer;
}

.aafiyaheaderconsultation> :nth-child(1) {
    /* border: 1px solid black; */
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aafiyaheaderconsultation> :nth-child(2) {
    /* border: 1px solid black; */
    width: 75%;
    height: 100%;
}

.aafiyaheaderconsultation> :nth-child(2) ul {
    list-style: none;
    line-height: 1.5;
    margin-top: 8%;
}

.socialmedical {
    font-size: 14px;
    font-weight: 550;
    color: gray;
}

.bookconsultation {
    font-weight: 550;
    font-size: 14px;
    color: rgb(58, 55, 55)
}

.aafiyaheadercontact {
    /* border: 1px solid black; */
    width: 15%;
    height: 100%;
    display: flex;
    cursor: pointer;
}

.aafiyaheadercontact> :nth-child(1) {
    /* border: 1px solid black; */
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aafiyaheadercontact> :nth-child(2) {
    /* border: 1px solid black; */
    width: 75%;
    height: 100%;
}

.aafiyaheadercontact> :nth-child(2) ul {
    list-style: none;
    line-height: 1.5;
    margin-top: 8%;
}

.aafiyaheaderemail {
    /* border: 1px solid black; */
    width: 23%;
    height: 100%;
    display: flex;
    cursor: pointer;
}

.aafiyaheaderemail> :nth-child(1) {
    /* border: 1px solid black; */
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aafiyaheaderemail> :nth-child(2) {
    /* border: 1px solid black; */
    width: 75%;
    height: 100%;
}

.aafiyaheaderemail> :nth-child(2) ul {
    list-style: none;
    line-height: 1.5;
    margin-top: 6%;
}


/* media responsiveness */

@media screen and (min-width: 460px) and (max-width: 480px) {
    header {
        display: none;
    }
}


/* Navbar section */

nav {
    /* border: 1px solid black; */
    width: 100%;
    height: 7vh;
    background-color: #19A8F8;
}

.navbar {
    /* border: 1px solid black; */
    width: 90%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.navbarleftside {
    /* border: 1px solid black; */
    width: 75%;
    height: 100%;
}

.navbarleftside ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 15px;
}

.navbarleftside ul li a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    cursor: pointer;
}

.navbarrightside {
    /* border: 1px solid black; */
    width: 17%;
    height: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbarrightside input {
    width: 70%;
    height: 90%;
    border: none;
    outline: none;
    background-color: blueviolet;
    color: white;
    margin-left: 5%;
}

.place::placeholder {
    color: white;
}
 
.hamburger-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px auto;
}

@media screen and (min-width: 460px) and (max-width: 480px) {
    .navbarleftside ul {
        display: none;
    }

    .hamburger-icon {
        display: flex;
        width: 12%;
        height: 7vh;
    }

    .navbarrightside {
        width: 40%;
    }

    .navbarleftside ul.show {
        display: flex;
        flex-direction: column;
        background-color: blueviolet;
        z-index: 2;
    }
}



/* main section banner */

.bannerpage {
    width: 100%;
    height: 50vh;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrGbl7FZI_grGjzmzDRhuuIGFL_C1vwdFh3Q&usqp=CAU");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 1px;
}

.bannersection {
    width: 50%;
    height: 46vh;
    margin-top: 2vh;
    margin-left: 5%;
}

.bannerlist {
    width: 100%;
    height: 5vh;
    margin-top: 4%;
}

.bannerlist ul {
    display: flex;
}

.bannerlist ul li {
    list-style: none;
    margin-top: 1%;
}

.list {
    margin-left: 2%;
}

.bannerlist ul li a {
    text-decoration: none;
    color: white;
}

.bannerheading {
    width: 100%;
    height: 20vh;
    margin-top: 3%;
    color: white;
}

.bannerheading p {
    margin-top: 2%;
    line-height: 2;
}

button {
    width: 20%;
    height: 6vh;
    margin-top: 2%;
    font-weight: 550;
    color: white;
    background-color: #19A8F8;
    border: none;
    outline: none;
    cursor: pointer;
}


@media screen and (min-width: 460px) and (max-width: 480px) {
    .bannerlist ul {
        display: none;
    }

    .bannerheading h1 {
        font-size: 20px;
    }

    .bannerheading p {
        line-height: 1.5;
        margin-top: 8%;
    }

    button {
        width: 50%;
        margin-top: 25%;
    }
}

/* main section article */

.articlesection {
    width: 100%;
    height: 8vh;
    background-color: white;
    border-bottom: 1px solid rgb(181, 177, 185);
}

.article {
    width: 80%;
    height: 100%;
    margin-left: 5%;
    font-size: 13px;
}

.article ul {
    display: flex;
    justify-content: space-between;
}

.article ul li {
    list-style: none;
    margin-top: 1.5%;
}

.article ul li a {
    text-decoration: none;
    font-weight: 550;
    color: rgb(49, 32, 20);
    cursor: pointer;
}


@media screen and (min-width: 460px) and (max-width: 480px) {
    .article {
        display: none;
    }

    .articlesection {
        display: none;
    }
}


/* section one */

.sectionone {
    width: 100%;
    height: 85vh;
    background-color: white;
    padding: 1px;
}

.sectiononecontainer {
    border-bottom: 1px dotted black;
    width: 90%;
    margin: auto;
    height: 65vh;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
}

.sectiononeboxone {
    width: 55%;
    height: 90%;
}

.sectiononeboxone p {
    margin-top: 2%;
    line-height: 1.5;
    color: rgb(49, 32, 20);
    font-weight: 400;
}

.sectiononeboxtwo {
    width: 40%;
    height: 90%;
}

.sectiononeboxtwo img {
    width: 100%;
    height: 100%;
}



@media screen and (min-width: 460px) and (max-width: 480px) {
    .sectiononeboxtwo {
        display: none;
    }

    .sectiononeboxone {
        width: 100%;
        height: 80vh;
        position: relative;
        bottom: 10%;
    }

    .sectionone {
        height: 100vh;
    }

    .sectiononecontainer {
        border-bottom: 1px dotted black;
        height: 83vh;
    }
}


/* section two */

.sectiontwo {
    width: 100%;
    height: 3500px;
    padding: 1px;
}

.sectiontwocontainer {
    width: 90%;
    margin: auto;
    height: 3450px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.sectiontwoboxone {
    width: 70%;
    height: 3450px;
}

.sectiontwoboxoneitemone {
    width: 100%;
    height: 430px;
    /* border-bottom: 1px dotted black; */
}

.sectiontwoboxone p {
    margin-top: 3%;
    line-height: 1.5;
    color: rgb(49, 32, 20);
    font-weight: 400;
}

.sectiontwoboxone ul {
    margin-top: 2%;
}

.sectiontwoboxone ul li {
    margin-top: 2%;
    line-height: 1.5;
    margin-left: 2%;
}

.sectiontwoboxoneitemtwo {
    width: 100%;
    height: 430px;
    border-bottom: 1px dotted black;
    margin-top: 5%;
}

.sectiontwoboxoneitemtwo p {
    margin-top: 3%;
    line-height: 1.5;
    color: rgb(49, 32, 20);
    font-weight: 400;
}

.sectiontwoboxoneitemtwo ul {
    margin-top: 2%;
}

.sectiontwoboxoneitemtwo ul li {
    margin-top: 2%;
    line-height: 1.5;
    margin-left: 2%;
}

.sectiontwoboxoneitemthree {
    width: 100%;
    height: 430px;
    border-bottom: 1px dotted black;
    margin-top: 5%;
}

.sectiontwoboxoneitemthree p {
    margin-top: 3%;
    line-height: 1.5;
    color: rgb(49, 32, 20);
    font-weight: 400;
}

.sectiontwoboxoneitemthree ul {
    margin-top: 2%;
}

.sectiontwoboxoneitemthree ul li {
    margin-top: 2%;
    line-height: 1.5;
    margin-left: 2%;
}

.sectiontwoboxoneitemfour {
    width: 100%;
    height: 430px;
    border-bottom: 1px dotted black;
    margin-top: 5%;
}

.sectiontwoboxoneitemfour p {
    margin-top: 3%;
    line-height: 1.5;
    color: rgb(49, 32, 20);
    font-weight: 400;
}

.sectiontwoboxoneitemfour ul {
    margin-top: 2%;
}

.sectiontwoboxoneitemfour ul li {
    margin-top: 2%;
    line-height: 1.5;
    margin-left: 2%;
}

.sectiontwoboxoneitemfive {
    /* border: 1px solid black; */
    width: 100%;
    height: 430px;
    border-bottom: 1px dotted black;
    margin-top: 5%;
}

.sectiontwoboxoneitemfive p {
    margin-top: 3%;
    line-height: 1.5;
    color: rgb(49, 32, 20);
    font-weight: 400;
}

.sectiontwoboxoneitemfive ul {
    margin-top: 2%;
}

.sectiontwoboxoneitemfive ul li {
    margin-top: 2%;
    line-height: 1.5;
    margin-left: 2%;
}

.questionanssection {
    width: 100%;
    height: 450px;
    margin-top: 5%;
    border-bottom: 1px dotted black;
}

.question {
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    width: 100%;
    margin-top: 6%;
    cursor: pointer;
}

.questionone {
    display: flex;
}

.plusicon {
    margin-left: 2%;
    margin-top: 3.5%;
}

.questionone p {
    margin-left: 2%;
}

.answerone {
    padding-left: 5%;
    display: none;
}

.questionTwo {
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    width: 100%;
    margin-top: 3%;
    cursor: pointer;
}

.questiontwo {
    display: flex;
}

.plusicon2 {
    margin-left: 2%;
    margin-top: 3.5%;
}

.questiontwo p {
    margin-left: 2%;
}

.answertwo {
    padding-left: 5%;
    display: none;
}

.questionThree {
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
    width: 100%;
    margin-top: 3%;
    cursor: pointer;
}

.questionthree {
    display: flex;
}

.plusicon3 {
    margin-left: 2%;
    margin-top: 3.5%;
}

.questionthree p {
    margin-left: 2%;
}

.answerthree {
    padding-left: 5%;
    display: none;
}

.questionFour {
    width: 100%;
    margin-top: 3%;
    cursor: pointer;
    border-bottom: 1px dotted black;
    border-top: 1px dotted black;
}

.questionfour {
    display: flex;
}

.plusicon4 {
    margin-left: 2%;
    margin-top: 3.5%;
}

.questionfour p {
    margin-left: 2%;
}

.answerfour {
    padding-left: 5%;
    display: none;
}

.sectionss {
    width: 25%;
    height: 3450px;
}

.sectiontwoboxtwo {
    width: 100%;
    height: 450px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    position: sticky;
    top: 0%;
    right: 5%;
}

.sectiontwoboxtwo p {
    margin-left: 10%;
    margin-top: 5%;
    font-size: 13px;
    font-weight: 550;
    color: rgb(49, 32, 20);
}

form {
    margin-left: 10%;
    margin-top: 5%;
}

.formsinput {
    border: 1px solid black;
    width: 90%;
    height: 6vh;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 2%;
}

.formsinputs {
    border: 1px solid black;
    width: 90%;
    height: 12vh;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 2%;
}

.formsinputbutton {
    width: 90%;
    height: 6vh;
    margin-top: 5%;
    border-radius: 5px;
    padding-left: 2%;
    cursor: pointer;
    background-color: #19A8F8;
    border: none;
    outline: none;
}

.sectiontwocarasaual {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    margin-top: 5%;
}

.sectiontwocarasaual h1 {
    text-align: left;
}

.carasual {
    width: 100%;
    margin-top: 3%;
}

.carasualcontainer {
    border: 1px solid rgb(160, 145, 145);
    width: 350px;
    height: 60vh;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 10%;
    border-radius: 10px;
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-dot {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #333 !important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    background-color: #333 !important;
}

.carasualheading {
    width: 100%;
    height: 9vh;
}

.carasualheading p {
    line-height: 1.5;
    text-align: left;
    font-weight: 550;
}

.carasualimage {
    width: 100%;
    height: 30vh;
    margin-top: 4%;
}

.carasualimage img {
    width: 100%;
    height: 100%;
}

.carasualimage p {
    text-align: left;
    color: gray;
}

.carasualbottom {
    width: 100%;
    height: 10vh;
    margin-top: 4%;
    display: flex;
}

.carasualcircle {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 2%;
    margin-left: 2%;
    overflow: hidden;
}

.carasualcircle img {
    width: 100%;
    height: 100%;
}

.carasualcircleinfo {
    width: 40%;
    height: 8vh;
    margin-top: 1vh;
    margin-left: 2%;
    text-align: left;
}



@media screen and (min-width: 460px) and (max-width: 480px) {
    .sectiontwo {
        /* border: 1px solid black; */
        height: 1600px;
    }

    .sectiontwoboxone {
        width: 100%;
        height: 1030px;
        /* border: 1px solid black; */
    }

    .sectiontwocontainer {
        /* border: 1px solid black; */
        flex-direction: column;
        height: 1530px;
    }

    .sectiontwoboxoneitemone {
        display: none;
    }

    .sectiontwoboxoneitemtwo {
        display: none;
    }

    .sectiontwoboxoneitemthree {
        display: none;
    }

    .sectiontwoboxoneitemfour {
        display: none;
    }

    .sectiontwoboxoneitemfive {
        display: none;
    }

    .questionanssection {
        width: 100%;
        height: 410px;
    }

    .sectiontwocarasaual {
        /* border: 1px solid black; */
        width: 100%;
    }

    .carasualcontainer {
        width: 95%;
        height: auto;
        top: 0;
        margin-top: 3%;
    }

    .carasualheading p {
        font-size: 14px;
    }

    .carasualimage {
        height: auto;
        margin-top: 3%;
    }

    .carasualimage p {
        font-size: 12px;
    }

    .carasualbottom {
        height: auto;
        margin-top: 3%;
    }

    .carasualcircle {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-top: 5%;
        margin-left: 2%;
    }

    .carasualcircleinfo {
        width: 100%;
        height: auto;
        margin-top: 1vh;
        margin-left: 4%;
    }

    .sectionss {
        width: 100%;
        height: 2400px;
        /* border: 1px solid black; */
    }

    .sectiontwoboxtwo {
        width: 90%;
        margin: auto;
        position: static;
    }

    .sectiontwoboxtwo p {
        padding-top: 5%;
    }

}

/* section three */

.sectionthree {
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: gainsboro;
}

.sectionthree h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.sectionthree h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

span {
    color: #19A8F8;
}


.sectionthreecarasual {
    width: 100%;
    margin-top: 3%;
}

.sectionthreecarasualcontainer {
    border: 1px solid rgb(160, 145, 145);
    width: 350px;
    height: 60vh;
    padding: 20px;
    text-align: center;
    position: relative;
    top: 10%;
    margin-left: 10%;
    background-color: white;
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-dot {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #333 !important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    background-color: #333 !important;
}

.sectionthreecarasualimage {
    width: 100%;
    height: 40vh;
}

.sectionthreecarasualimage img {
    width: 100%;
    height: 100%;
}

.sectionthreecarasualcontainer p {
    margin-top: 3%;
    line-height: 1.5;
}


@media screen and (min-width: 460px) and (max-width: 480px) {
    .sectionthree h1 {
        font-size: 28px;
    }

    .sectionthreecarasualcontainer {
        height: 65vh;
    }
}


/* section four */

.sectionfour {
    width: 100%;
    height: auto;
    padding: 1px;
    text-align: center;
}

.sectionfour h1 {
    font-size: 36px;
    margin-top: 2%;
}

.sectionfour h2 {
    font-size: 24px;
    margin-top: 5%;
}

span {
    color: #19A8F8;
}


.sectionfourcarasual {
    width: 100%;
    margin-top: 3%;
}

.sectionfourcarasualcontainer {
    border: 1px solid rgb(160, 145, 145);
    width: 350px;
    height: 60vh;
    text-align: center;
    position: relative;
    top: 10%;
    margin-left: 10%;
    background-color: white;
}

.owl-dots {
    text-align: center;
    margin-top: 40px;
}

.owl-dot {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #333 !important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    background-color: #333 !important;
}

.sectionfourcarasualimage {
    width: 100%;
    height: 48vh;
}

.sectionfourcarasualimage img {
    width: 100%;
    height: 100%;
}

.sectionfourcarasualcontainer p {
    margin-top: 3%;
    line-height: 1.5;
}


@media screen and (min-width: 460px) and (max-width: 480px) {
    .sectionfour h1 {
        font-size: 26px;
    }
}


/* section five */

.sectionfive {
    width: 100%;
    height: 35vh;
    margin-top: 5%;
    background-color: #19A8F8;
    color: white;
    padding: 1px;
}

.sectionfive p {
    text-align: center;
    margin-top: 3%;
    font-weight: 550;
}

.sectionfive h1 {
    text-align: center;
    margin-top: 1%;
    font-size: 2rem;
}

.sectionfiveone {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19A8F8;
}

.btn {
    width: 10%;
    background-color: blueviolet;
    border: none;
    outline: none;
    font-weight: 550;
    cursor: pointer;
}

.number {
    font-size: 1.5rem !important;
    font-weight: 550 !important;
    margin-bottom: 1% !important;
    margin-left: 1%;
    cursor: pointer;
}


@media screen and (min-width: 460px) and (max-width: 480px) {
    .sectionfive p {
        font-size: 14px;
    }

    .sectionfive h1 {
        font-size: 1.5rem;
        margin-top: 5%;
    }

    .sectionfiveone {
        height: 10vh;
    }

    .btn {
        position: relative;
        bottom: 97%;
        width: 25%;
    }

    .sectionfive {
        height: 28vh;
    }
}


/* footer section */

footer {
    border: 1px solid black;
    width: 100%;
    height: 90vh;
    background-color: rgb(48, 68, 80);
    color: white;
}

.footerpage {
    width: 90%;
    margin: auto;
    height: 80vh;
    margin-top: 2.5vh;
}

.footertoppage {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-between;
}

.footertoppageone {
    width: 20%;
    height: 100%;
    cursor: pointer;
}

.footertoppageone h4 {
    margin-top: 10%;
    margin-left: 10%;
}

.footertoppageone p {
    margin-left: 15%;
    margin-top: 4%;
}

.footertoppagetwo {
    width: 23%;
    height: 100%;
    cursor: pointer;
}

.footertoppagetwo h4 {
    margin-top: 10%;
    margin-left: 10%;
}

.footertoppagetwo p {
    margin-left: 15%;
    margin-top: 4%;
}

.footertoppagethree {
    width: 25%;
    height: 100%;
    cursor: pointer;
}

.footertoppagediv {
    width: 90%;
    margin: auto;
    height: 15vh;
    border-radius: 10px;
    position: relative;
    bottom: 15%;
    background-color: white;
    color: black;
    cursor: pointer;
}

.footertoppagedivone {
    width: 100%;
    height: 8vh;
    display: flex;
    padding-top: 2%;
}

.footertoppagedivone svg {
    margin-left: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para {
    margin-left: 3%;
    color: rgb(30, 43, 71);
}

.footertoppagedivtwo {
    width: 100%;
    height: 7vh;
}

.footertoppagedivtwo p {
    margin-left: 2%;
    font-size: 12px;
    font-weight: 550;
    color: gray;
    line-height: 1.5;
}

.footertoppagethree {
    width: 23%;
    height: 100%;
    cursor: pointer;
}

.h4 {
    margin-left: 10%;
}

.paragraph {
    margin-left: 15%;
    margin-top: 4%;
}

.footerbottompage {
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-between;
}

.footerbottompageone {
    width: 30%;
    height: 100%;
}

.footerbottompageone img {
    width: 100%;
    height: 70%;
}

.footerbottompagetwo {

    width: 45%;
    height: 100%;
}

.footerbottompagetwo h2 {
    margin-top: 5%;
}

.footerbottompagetwo p {
    margin-top: 3%;
    line-height: 1.5;
}

.footerbottompagethree {
    width: 20%;
    height: 100%;
}

.footerbottompagethree h2 {
    margin-top: 13%;
    margin-left: 5%;
}

.socialmedia {
    display: flex;
    justify-content: left;
    margin-top: 2%;
    cursor: pointer;
}

.socialmedia svg {
    margin-left: 5%;
}

.contactnumber {
    margin-top: 5%;
    line-height: 1.5;
    margin-left: 5%;
}

.contactnumber p {
    font-weight: 550;
}

.contact {
    color: #19A8F8;
    cursor: pointer;
}


@media screen and (min-width: 460px) and (max-width: 480px) {

    footer {
        height: 75vh;
    }

    .footertoppagediv {
        display: none;
    }

    .footerbottompageone {
        display: none;
    }

    .footertoppageone h4 {
        font-size: 11px;
    }

    .footertoppageone p {
        font-size: 10px;
    }

    .footertoppagetwo h4 {
        font-size: 11px;
    }

    .footertoppagetwo p {
        font-size: 10px;
    }

    .h4 {
        font-size: 11px;
        margin-top: 10%;
    }

    .paragraph {
        font-size: 10px;
    }

    .footerbottompage {
        justify-content: space-evenly;
    }

    .footerbottompagetwo h2 {
        font-size: 11px;
    }

    .footerbottompagetwo p {
        font-size: 10px;
    }

    .footerbottompagethree h2 {
        font-size: 11px;
    }

    .contactnumber {
        font-size: 11px;
    }
}